body {
  font-family: "Concert One";
}
#container {
  position: absolute;
  height: 600px;
  width: 800px;
  background-color: yellow;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#forms {
  padding-top: 50px;
}

#start,
#gameFinishMessage {
  position: absolute;
  text-align: center;
  font-size: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#user-answer-message {
  position: absolute;
  text-align: center;
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#count {
  text-align: center;
  font-size: 40px;
}
#question {
  font-size: 30px;
  padding: 10px 0px 10px 40px;
  margin: 25px 10px 0 55px;
  height: 60px;
  width: 700px;
  border-radius: 10px;
  background-color: #d6e755;
}
.option {
  height: 40px;
  width: 700px;
  padding: 10px 0px 10px 40px;
  margin: 25px 10px 0 55px;
  border-radius: 10px;
  background-color: #d6e755;
}

input[type="radio"] {
  visibility: hidden;
}
